body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.container {
  position: relative;
  top: 0;
}

.nav-wrapper {
  position: absolute;
  padding: 38px;
  z-index: 1;
  overflow: auto;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  color: black;
}

.active-nav-link {
  border-bottom: 1px black black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  /*opacity:0.70;*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url(https://cdn.glitch.com/4dd2a5da-e0bd-4f52-bfb6-bbed14678bb6%2FPlain-White-Wallpapers-Top-Free-Plain-White-Backgrounds-.jpg?v=1595761862469);
  min-height:100%;
}

.pimg2{
  background-image:url(https://images.unsplash.com/photo-1474649107449-ea4f014b7e9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
  min-height:400px;
}

.pimg3{
  background-image:url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:black;
}

.section-grey{
  background-color: black;
  color:white;
}

.section-dark{
  background-color: black;
  color: white;
}

h2 a{
  text-decoration: none;
  color: black;
}

h2 a:hover{
  color: grey;
}

.ptextZ{
  position:absolute;
  top:40%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.btn{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: black;
}

.btn:hover{
  color:grey;
}

.darkh2{
  eext-decoration: none;
  color: white;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptextZ .borderZ{
  background-color: white;
  color: black;
  padding:20px;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.ptext .border2{
  /*background-color:#111;*/
  color:#fff;
  padding:20px;
}

.ptext .border2.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

a {
color: black;
}

#logo_text{
  font-size: 200%;
  margin:0;
}

#sublogo_text{
  letter-spacing:0;
  text-transform:none;
  font-family: inter;
}

#learn_button{
  border-radius:3%;
}
